@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Inter:wght@300&family=Libre+Franklin&family=Noto+Serif+Hebrew&family=Noto+Serif+JP:wght@500&family=Oswald&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@400;600;800&family=Sarala&family=Signika+Negative:wght@700&family=Staatliches&family=Zilla+Slab:ital,wght@1,500&display=swap');
/*header*/
    body {
      font-family: Arial, sans-serif;
    }

    h2 {
      text-align: center;
      font-family: Roboto Slab;
      font-size: 3vw;
      color: white;
    }

    .fulfom{
      padding: 10px;
    }

    .form-group {
      margin-bottom: 10px;
    }

    label {
      display: block;
      font-weight: bold;
      font-size: 20px;
    }

 
    input {
      width: 100%;
      padding: 6px;
      background-color: #fbfbfb;
      height: 2.5vw;
      border-radius: 4px;
      border-style: solid;
      border-width: 2px;
      border-color: #479274b9;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      font-size: 15px;
    }

    textarea {
      width: 100%;
      padding: 10px;
      background-color: #fbfbfb;
      height: 6vw;
      border-radius: 4px;
      border-style: solid;
      border-width: 2px;
      border-color: #479274b9;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      font-size: 15px;
    }

    input:focus{
      outline:0;
      border: 2px solid #479274;
    }

    textarea:focus{
      outline:0;
      border: 2px solid #479274;
    }

    .delbtn {
      font-family: inherit;
      font-size: 18px;
      background: linear-gradient(to bottom, #f60000bc 0%,#ff0000a6 100%);
      color: white;
      padding: 0.5em 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s;
      cursor: pointer;
      text-decoration: none;
    }

    .delbtn:hover {
      transform: translateY(-3px);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }

    .delbtn:active {
      transform: scale(0.95);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .delbtn span {
      display: block;
      margin-left: 0.4em;
      transition: all 0.3s;
    }

    .delbtn svg {
      width: 18px;
      height: 18px;
      fill: white;
      transition: all 0.3s;
    }

    .delbtn .svg-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      margin-right: 0.5em;
      transition: all 0.3s;
    }

    .delbtn:hover .svg-wrapper {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .delbtn:hover svg {
      transform: rotate(45deg);
    }

    .update {
      font-family: inherit;
      font-size: 18px;
      background: linear-gradient(to bottom, #479274bc 0%,#4ea07f 100%);
      color: white;
      padding: 0.5em 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s;
      cursor: pointer;
      text-decoration: none;
    }

    .update:hover {
      transform: translateY(-3px);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }

    .update:active {
      transform: scale(0.95);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .update span {
      display: block;
      margin-left: 0.4em;
      transition: all 0.3s;
    }

    .update svg {
      width: 18px;
      height: 18px;
      fill: white;
      transition: all 0.3s;
    }

    .update .svg-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      margin-right: 0.5em;
      transition: all 0.3s;
    }

    .update:hover .svg-wrapper {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .update:hover svg {
      transform: rotate(45deg);
    }

    .btn {
      padding-left: 9vw;
    }

    #successMessage {
      padding: 5px;
      text-align: center;
      color: green;
    }

    * {
      box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 38vw; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .full {
      margin-left: auto;
      margin-right: auto;
      width: 60vw;
      border: 1px solid #ffffff;
      box-shadow: 2px 2px 4px 2px rgba(56, 186, 158, 0.2);
    }

    img {
      width: 100%;
      height: 100%;
    }

    .fre {
      padding-left: 8vw;
    }


    .label-container{
      position:fixed;
      bottom:48px;
      right:105px;
      display:table;
      visibility: hidden;
    }
    
    .label-text{
      color:#FFF;
      background:rgba(51,51,51,0.5);
      display:table-cell;
      vertical-align:middle;
      padding:10px;
      border-radius:3px;
    }
    
    .label-arrow{
      display:table-cell;
      vertical-align:middle;
      color:#333;
      opacity:0.5;
    }
    
    .float{
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:#479274;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
    }
    
    .my-float{
      font-size:500px;
      margin-top:18px;
    }
    
    a.float + div.label-container {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s ease;
    }
    
    a.float:hover + div.label-container{
      visibility: visible;
      opacity: 1;
    }

  