
/*header*/
* {
    text-decoration: none;
  }
  
  body {
    background-color: rgba(16, 24, 32, 255);
  }
  
  .header {
    /* margin-top: -10px; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(16, 24, 32, 255);
  }
  
  .logo {
    display: block;
    /* margin-left: -10px; */
    margin-right: auto;
    width: auto;
    /* margin-top: -9.5px; */
    width: 160px;
    height: 100px;
  }
  
  /* hr#line2 {
      border: 1px solid black;
      margin-top: 0px;
      margin-left: -10px;
  } */
  
  .icon-bar {
    width: 101%;
    height: 30px;
    background-color: #313131;
    overflow: hidden;
    margin-left: -10px;
    margin-top: 0px;
  }
  
  .icon-bar a {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    /* text-decoration: none; */
    margin-left: -8px;
    margin-top: -9px;
  }
  
  .icon-bar a:hover {
    background-color: #6e6e6e;
    color: #000000;
  }
  
  .active {
    background-color: #a90b0b;
  }
  
  #activeuser {
    color: #a90b0b;
  }
  
  /* hr#line3 {
      border: 1px solid black;
      margin-top: 0px;
      margin-left: -10px;
  } */
  
  .button {
    padding: 16px 32px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    position: absolute;
  }
  
  .button1 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #313131;
    margin-left: 75%;
  }
  
  .button1:hover {
    background-color: #5878c8;
    color: white;
  }
  
  .button2 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #313131;
    margin-left: 83%;
  }
  
  .button2:hover {
    background-color: #cd1818;
    color: white;
  }
  .button3 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #313131;
    margin-left: 83%;
  }
  
  .button3:hover {
    background-color: #30a90b;
    color: white;
  }
  
  .user {
    margin-left: 94%;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-size: 240%;
    position: absolute;
  }
  
  a:hover {
    color: #5b5858;
  }
  
  a {
    color: #ffffff;
    transition-duration: 0.4s;
  }
  
  .searchinput[type="text"],
  .ser[type="submit"] {
    position: absolute;
    margin-top: 30px;
    margin-left: 50vw;
    color: rgb(255, 255, 255);
  }
  
  .searchinput[type="text"] {
    padding: 8px;
    border: 1px solid #292727;
    border-radius: 6px;
    width: 700px;
    background-color: #313131;
    width: 150px;
    margin-left: 40%;
  }
  
  button[type="submit"] {
    padding: 8px 12px;
    background-color: #313131;
    border: none;
    border-radius: 6px;
    cursor: pointer;
 
  }


  /*body*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Inter:wght@300&family=Libre+Franklin&family=Noto+Serif+Hebrew&family=Noto+Serif+JP:wght@500&family=Oswald&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@400;600;800&family=Sarala&family=Signika+Negative:wght@700&family=Staatliches&family=Zilla+Slab:ital,wght@1,500&display=swap');

body {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  font-family: Roboto Slab;
  font-size: 3vw;
  color: #ffffff;
}

.fulfom {
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  font-family: Roboto Slab;
  font-size: 20px;
  color: white;
}

input {
  width: 100%;
  padding: 6px;
  background-color: #fbfbfb;
  height: 2.5vw;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #479274b9;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}

textarea {
  width: 100%;
  padding: 10px;
  background-color: #fbfbfb;
  height: 6vw;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #479274b9;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}

input:focus {
  outline: 0;
  border: 2px solid #479274;
}

textarea:focus {
  outline: 0;
  border: 2px solid #479274;
}

.sendbtn {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #479274bc 0%, #4ea07f 100%);
  color: white;
  padding: 0.5em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}

.sendbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.sendbtn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sendbtn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.sendbtn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.sendbtn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.sendbtn:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.sendbtn:hover svg {
  transform: rotate(45deg);
}

.btnsent {
  padding-left: 10vw;
}

#successMessage {
  padding: 5px;
  text-align: center;
  color: green;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 38vw; /* Should be removed. Only for demonstration */
  background-color: #000000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #000000;
}

.full {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 4px 2px rgba(56, 186, 158, 0.2);
  background-color: #000000;
}

img {
  width: 100%;
  height: 100%;
}

